{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
</head>

<body>

    <header>
        <p class = "p_usuario">{{ user.username }}</p>
        <a class="opcion_logOut" href="/logout">
            <img class="logOut_img" src='{% static "images/logOut.png"%}'>
        </a>

    </header>

    <nav>
        <ul>
            <li>
                <div class="div_logo">
                    <a href="/">
                        <img class="logo" src='{% static "images/logo_barra.png"%}'>
                    </a>
                </div>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="opcion" href="/ingresarIngresos">Ingresar Ingresos</a>
            </li>
            <li>
                <a class="opcion" href="/verIngresos">Ver Ingresos</a>
            </li>
            <li>
                <a class="opcion" href="/verGastos/crearGastos/">Crear Gastos</a>
            </li>
            <li>
                <a class="opcion" href="/verGastos">Gastos Existentes</a>
            </li>
            <li>
                <a class="opcion" href="/verGastos/completados/">Gastos Completados</a>
            </li>
            <li>
                <a class="opcion" href="{% url 'verBalance' %}">Ver Balance</a>
            </li>

            <li>
                <a class="opcion" href="{% url 'estadisticas' %}">Ver Estadísticas</a>
            </li>
            <li>
                <a class="opcion" href="{% url 'lista_grupos' %}">Ver Grupos</a>
            </li>

            {% else %}
            <li>
                <a class="opcion" href="/signup">Signup</a>
            </li>
            <li>
                <a class="opcion" href="/signin">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <img class="logo_footer" src='{% static "images/logoGrisNoFondo.png"%}'>
        <img class="texto_footer" src='{% static "images/textoGrisNoFondo.png"%}'>
        <p class="p_slogan">Maneja las finanzas de tu hogar</p>
    </footer>
</body>

</html>