<!-- {% load static %} -->
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- <link rel="stylesheet" type="text/css" href='{% static "css/signin.css" %}'> -->

</head>
<body>
    <div class="container">
        <div class="form-container">
            {{error}}
            <form action="/signup/" method="POST">
                {% csrf_token %}
                <table class = "tbl_form">
                    <tr>
                        <td>
                            <!-- <img src='{% static "images/logoMorado.png"%}'> -->
                        </td>
                        <td>
                          <!-- <img src='{% static "images/nombreMorado.png"%}'> -->
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.email.label_tag }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.username}}</td>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.first_name.label_tag }}</td>
                        <td>{{ form.last_name.label_tag }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.first_name}}</td>
                        <td>{{ form.last_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password1.label_tag }}</td>
                        <td>{{ form.password2.label_tag }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password1 }}</td>
                        <td>{{ form.password2 }}</td>
                    </tr>

                </table>

                <p>¿Ya tienes cuenta? <a href="/signin">incia sesión</a></p>
                <button class ="btn_crear" type="submit">Crear Cuenta</button>
                <button class = "btn_cancelar" type="button" id="cancelar">Cancelar</button>
            </form>
        </div>
    </div>
</body>
</html>

{% endblock %}
