{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "css/signin.css" %}'>
    <title>Queni - Login</title>
        
</head>
<body>
    <div class="container">
    
        <div class="form-container">
            <img src='{% static "images/logoNombre.png"%}'>
            {{ error }}
            <form action="/signin/" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p>¿No registrado? <a href="/signup">crea tu cuenta ahora</a></p>

                <button class="inicar_sesion" type="submit">Iniciar sesión</button>
                <button class="btn-cancelar">Cancelar</button>
                
                <p><a href="/recuperar_clave">Olvidé mi contraseña</a></p>
            </form>
        </div>
    </div>
    
</body>
</html>

{% endblock %}