{% extends 'base.html' %}


{% block content %}
    <div>
        <h1>{{ grupo.nombre }}</h1>

        <h2>Miembros:</h2>
        <table>
            <tr>
                <th >Nombre</th>
            </tr>
            {% for miembro in miembros %}
                <tr>
                    <td>{{ miembro.username }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Estadísticas de Gastos Compartidos:</h2>
        <table >
            <tr>
                <th >Descripción</th>
                <th >Monto</th>
                <th >Fecha</th>
            </tr>
            {% for gasto in gastos %}
                <tr>
                    <td >{{ gasto.descripcion }}</td>
                    <td >{{ gasto.monto }}</td>
                    <td >{{ gasto.fecha }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Aportes por Miembro:</h2>
        <table >
            <tr>
                <th >Nombre</th>
                <th >Aporte</th>
            </tr>
            {% for miembro, aporte in aportes.items %}
                <tr>
                    <td >{{ miembro }}</td>
                    <td >{{ aporte|default:"No se ha calculado el aporte" }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <a href="{% url 'lista_grupos' %}" style="background-color: #800080; color: #fff; text-decoration: none; padding: 10px 15px; border-radius: 5px; margin-top: 10px;">Volver a la lista de grupos</a>
        <a href="{% url 'crear_gasto_compartido' grupo.id %}" style="background-color: #800080; color: #fff; text-decoration: none; padding: 10px 15px; border-radius: 5px; margin-top: 10px;">Crear Gasto Compartido</a>
    </div>
{% endblock %}
