{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href='{% static "css/gastos.css" %}'>
<div class="container">
    <div class = "headTable">
        
        <img src='{% static "images/mano_dolar_azul.png"%}'>
        <p>Gastos del hogar</p>
        <a class="Btn_crear_gasto" href="/verGastos/crearGastos/">Crear</a>
    
    </div>

    <div class="div_tabla">
        <table class="gastos-table">
            <tr>
                <th>#</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Vencimiento</th>
                <th>valor</th>
                <th>Opciones</th>
            </tr>
            {% for CrearGasto in Gastos %}
           
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><p>pagado</p></td>
                    <td><p class="tipo_gasto">{{ CrearGasto.TipoGasto }}</p></td>
                    <td><p class="gasto-title">{{ CrearGasto.Nombre }}</p></td>
                    <td><p class="gasto-description">{{ CrearGasto.datecreated }}</p></td>
                    <td><p class="date-completed">Fecha: {{ CrearGasto.FechaVencimiento}}</p></td>
                    <td><p class="valor_gasto">{{ CrearGasto.Valor }}</p></td>
                    <td><a  margin: 0  href="{% url 'gastoDetail' CrearGasto.id %}" >
                        <img class = "menu_gasto" width="30px" src='{% static "images/menu_puntos_gris.png"%}'>
                    </a></td>
                </tr>
            
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
